.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100%;
  width: 100%;
  /* position: absolute;
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(2, max-content);
  grid-gap: 2.5rem;
  top: 50%;
  left: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  */
}

.contactSection {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  grid-gap: 3rem;
  padding: 3rem;
  /* Icon size */
  font-size: 2.5rem;
  @media (max-width: 374px) {
    grid-gap: 2rem;
  }
  @media (max-width: 900px) {
    justify-content: center;
  }
}

.pageLinksListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.pageLinkItem {
  height: 4rem;
  line-height: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-right: auto;
  padding: 0 1.5rem;
  font-size: 7.5rem;
  cursor: pointer;
  text-transform: uppercase;

  &:nth-child(1) {
    margin-left: 60%;
    @media (max-width: 450px) {
      margin-left: 15%;
    }
  }
  &:nth-child(2) {
    margin-left: 53%;
    @media (max-width: 450px) {
      margin-left: 30%;
    }
  }
  &:nth-child(3) {
    margin-left: 20%;
  }
  &:nth-child(4) {
    margin-left: 30%;
  }

  @media (max-width: 800px) {
    font-size: 5rem;
    height: 3rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 600px) {
    font-size: 3.5rem;
  }
}