.menuContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: grid;
  grid-template-rows: 1fr max-content;
  height: 100%;
  width: 100%;
  padding: 4rem;
}

.contactSection {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  grid-gap: 3rem;
  /* Icon size */
  font-size: 2.5rem;
  @media (max-width: 374px) {
    grid-gap: 2rem;
  }
  @media (max-width: 900px) {
    justify-content: center;
  }

  & svg {
    color: var(--color-beige);
  }
}

.pageLinksListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pageLinkItem {
  position: relative;
  display: flex;
  width: 100%;
  margin-right: auto;
  padding: 0 1.5rem;
  font-size: 7.5rem;
  cursor: pointer;
  text-transform: uppercase;
  background: transparent;

  & > a {
    width: 100%;
  }

  &:nth-child(1) {
    margin-left: 42%;
    margin-top: 4rem;
    @media (max-width: 450px) {
      margin-left: 15%;
    }

    &::before {
      left: -15%;
    }
  }
  &:nth-child(2) {
    margin-left: 55%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 450px) {
      margin-left: 30%;
    }

    &::before {
      left: -15%;
    }
  }
  &:nth-child(3) {
    margin-left: -65%;
    margin-top: -7.5%;
    margin-bottom: 2rem;
    justify-content: end;

    & > a {
      text-align: end;
    }

    &::before {
      right: -15%;
    }
  }
  &:nth-child(4) {
    margin-left: -35%;
    justify-content: end;
    margin-bottom: 4rem;
    & > a {
      text-align: end;
    }

    &::before {
      right: -15%;
    }
  }

  @media (max-width: 800px) {
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 600px) {
    font-size: 3.5rem;
  }
}

.glowOnHover {
  position: relative;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 33%;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    /* Left/right is set on parent element. */
    top: -5px;
    width: 100%;
    height: calc(100% + 10px);
    background: linear-gradient(45deg, var(--color-purple), var(--color-teal), var(--color-purple));
    background-size: 300%;
    z-index: -1;
    filter: blur(50px);
    animation: glow 25s linear infinite;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 175ms;
    transition-timing-function: ease-in-out;
    border-radius: 33%;
  }

  &:hover::before {
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}