<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h3>
          Current location
        </h3>
        <p id="location">
          Corralejo, Spain
          <img src='{% link images/corralejo.png %}' id="location_icon" alt="Canaries" title="Canaries">
        </p>
      </div>
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" id="connect">
        <h3>
          Connect
        </h3>
        <a href="https://github.com/Powell-v2">
          <i class="fa fa-github fa-2x hvr-icon-spin" aria-hidden="true"></i>
        </a>
        <a href="http://stackoverflow.com/users/7200363/powell-v2">
          <i class="fa fa-stack-overflow fa-2x hvr-icon-spin" aria-hidden="true"></i>
        </a>
        <a href="https://www.codecademy.com/Powell_v2">
          <i class="fa fa-code fa-2x hvr-icon-spin" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
