body {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}
.quote_face {
  display: none;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.terminal {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 245, 210, .9);
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: inset -4px -4px rgba(0, 0, 0, .3);
  animation: fadein 1s ease-in-out;
}
form {
  display: flex;
  margin: 1rem;
}
form label {
  width: .875em;
  padding-right: 0.45rem;
  padding-top: 0.27rem;
}
form input {
  flex: 8;
  margin-top: 1px;
  height: 1.5rem;
  padding-left: .5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
form input:focus {
  outline: 0;
  border-color: #d2b48c;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, .3);
  transition: box-shadow .4s ease-in-out;
}
form button {
  flex: 1;
  height: 1.75rem;
  margin-left: 1rem;
  overflow: hidden;
  color: #fff;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 2px 2px rgba(0, 0, 0, .3);
  cursor: pointer;
  transition: color .65s;
}
form button:focus, form button:hover {
  outline: 0;
  color: transparent;
}
form button:active {
  box-shadow: 0 0 rgba(0, 0, 0, .3);
  top: 2px;
  left: 2px;
}
form button::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#run {
  background-color: rgba(102, 205, 170, .73);
}
#clear {
  background-color: rgba(255, 99, 71, .63);
}
#run::before, #clear:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 150%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  line-height: 1.5rem;
  transition: all .5s;
}
#run::before {
  content: "\f362";
}
#clear:before {
  content: "\f2ed";
}
#run:focus::before, #run:hover::before, #clear:focus::before, #clear:hover::before {
  color: #fff;
  top: 0;
}
*[data-animation="ripple"] {
	position: relative; /* positions ripple effect inside the button */
}
.output {
  flex: 1;
  border: 1px solid #d2b48c;
  border-radius: 6px;
  margin: 1rem;
  margin-top: 0;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.output--block, p {
  margin: .75rem auto;
}
.output--block:first-child {
  margin-top: -.75rem;
}
.tooltip {
  text-align: center;
}
.tooltip > p {
  animation: fadein 2s ease-in-out;
}
.tooltip svg {
  color: #1e90ff;
  margin-right: .25rem;
}
p {
  margin-bottom: 0;
  line-height: 1.5;
}
p.quote {
  max-width: 40rem;
  top: -200rem;
  font-size: 14px;
  font-style: italic;
  display: block;
  position: absolute;
  margin: 1rem 0 0 1.5rem;
  padding: .75rem;
  border-radius: 10px;
  background-color: #4682b4;
  color: #fff;
}
p.quote:after {
  top: 1.5rem;
  left: -3rem;
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: .75rem 3rem 0 0;
  border-color: transparent #4682b4;
  pointer-events: none;
}
a {
  color: #000;
  text-decoration: none;
  box-shadow: inset 0px -2px #ffc555;
  transition: background .5s cubic-bezier(.35, .65, .65, 1);
}
a:hover {
  text-decoration: inherit;
  background: #ffc555;
}
.fa-ul {
  margin-left: 2em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-top: .25rem;
}
table {
  margin-bottom: .75rem;
}
td:first-child {
  border-right: 2px solid #1e90ff;
  padding-right: 1rem;
}
td:nth-child(2) {
  padding-left: 1rem;
}
img.my_face {
  position: absolute;
  left: -200rem;
  max-height: 100px;
  max-width: 100px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, .4);
  border-radius: 50%;
}
.separator {
  width: 3.5rem;
  height: 1px;
  margin-top: .5rem;
  background-color: black;
}
.saying {
  display: flex;
  margin: .75rem auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.saying div:nth-child(1) {
  color: brown;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
}
.saying div:nth-child(2) {
  flex: 9;
  font-style: italic;
}
.saying div:nth-child(2) > p {
  margin-top: 0;
  padding: .5rem;
}
.blogpost--fetched {
  margin-top: 1.75em;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: 700;
}
@media (max-width: 320px) {
  form button {
    flex: 2;
  }
}
@media (max-width: 420px) {
  #clear {
    display: none;
  }
  label {
    display: none;
  }
  p.quote {
    font-size: 9px;
  }
  .output--block {
    font-size: 11px;
  }
  .tooltip {
    font-size: 11px;
  }
}
@media (min-width: 420px) and (max-width: 840px) {
  p.quote {
    font-size: 12px;
  }
  .output--block {
    font-size: 13px;
  }
  .tooltip {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .saying div:nth-child(2) {
    padding: .5rem;
  }
  .saying div:nth-child(2) > p {
    padding: .5rem;
    text-align: center;
  }
}
@media (max-width: 750px) {
  form button {
    margin-left: .5rem;
  }
}
@media (max-width: 1024px) {
  .output--block:last-child {
    padding-bottom: .75rem;
  }
}
