.headerWrapper {
  display: grid;
  place-items: center;
}

.postsList {
  align-self: center;
  justify-self: start;
  overflow-y: scroll;

  @media (max-width: 925px) {
    align-self: start;
    justify-self: center;
  }
}