@media (max-width: 420px) {
  #clear, label {
    display: none;
  }
  .quote {
    font-size: 1rem;
  }
  .output--block, .tooltip {
    font-size: 1.1rem;
  }
}

@media (min-width: 420px) and (max-width: 840px) {
  .quote {
    font-size: 1.2rem;
  }
  .output--block, .tooltip {
    font-size: 1.3rem;
  }
}

@media (max-width: 550px) {
  button {
    flex: 2;
  }
}

@media (min-width: 750px) {
  button {
    margin-left: $size-m;
  }
  label {
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .output--block:last-child {
    padding-bottom: $size-s;
  }
}

@media (min-width: 1200px) {
  .saying div:nth-child(2) {
    padding: $size-xs;
    & > p {
      padding: $size-xs;
      text-align: center;
    }
  }
}
