table {
  margin-bottom: $size-s;
}

td {
  &:first-child {
    border-right: .2rem solid $color-info-help;
    padding-right: $size-m;
  }
  &:nth-child(2) {
    padding-left: $size-m;
  }
}

.separator {
  width: $size-xl;
  height: .1rem;
  margin: $size-xs 0 $size-m 0;
  background-color: black;
}
