.output {
  flex: 1;
  @include border($color-border-input-output);
  border-radius: .6rem;
  margin: $size-m;
  margin-top: 0;
  padding: $size-m;
  overflow-y: scroll;
  overflow-x: hidden;
}
.output--block {
  margin: $size-l auto;
}
.output--block:first-child {
  margin-top: -$size-s;
}
