---
layout: default
---

<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
        <img id="my_face" class="img-responsive center-block img-circle" src='{% link images/portrait.jpg %}' alt="Pavel Ermolin" title="Pavel Ermolin">
        <h1>
          Hi, my name is Pavel Ermolin.<br>
          Welcome to my personal website.
        </h1><br>
        <p>
          In a nutshell, I am front-end web developer on a way to become a full-stack engineer (long live <a href="http://media.steampowered.com/apps/valve/Valve_Handbook_LowRes.pdf" data-toggle="tooltip" data-placement="bottom" title="see page 46 ;o)">T-shaped people</a>).
        </p>
        <p>
          My goals have never changed: have fun, do exceptional work, experiment, treat people right, tell the truth, have a positive impact on the world around me, give back and keep learning.
        </p>
        <p>
          <i class='glyphicon glyphicon-asterisk'></i> Portfolio section is coming soon.
        </p>
        <a class="btn btn-default" id="my_skills" href="{% link pages/skills.html %}">My skills</a>
      </div>
    </div>
  </div>
</div>