---
layout: default
---

<div class="main--container">
  <div class="quote_face">
    <img class="my_face" src="{% link assets/img/new_face.jpg %}" alt="Pavel Ermolin">
    <p class="quote">Heyyo, I'm Pavel, creator of this website. Good job discovering this easter egg. I'll just hang out here for a while if you don't mind.</p>
  </div>
  <div class="terminal">
    <form action="index.html">
      <label for="cmd_line"><i class="fas fa-angle-double-right"></i></label>
      <input type="text" name="cmd_line" autofocus placeholder=""/>
      <button type="submit">Run</button>
      <button id="clear" type="button">Clear</button>
    </form>
    <div class="output"></div>
  </div>
  <canvas></canvas>
</div>
