---
layout: default
---

<main role="main" class="main--container">
  <section class="quote_face">
    <img class="my_face" src="{% link assets/img/new_face.jpg %}" alt="Pavel Ermolin">
    <p class="quote"></p>
  </section>
  <section class="terminal">
    <section class="controls">
      <form action="index.html">
        <label for="cmd_line"><i class="fas fa-angle-double-right"></i></label>
        <input type="text" name="cmd_line" autofocus placeholder=""/>
        <button id="run" type="submit" data-animation="ripple">Run</button>
        <button id="clear" type="button" data-animation="ripple">Clear</button>
      </form>
    </section>
    <section class="output"></section>
  </section>
  <canvas></canvas>
</main>
