// Colors {{{
$color-term-bg: rgba(250, 245, 210, .9);
$color-border-input-output: #d2b48c;
$color-quote: #4682b4;
$color-info-help: #1e90ff;
$color-run-btn: rgba(102, 205, 170, .73);
$color-clear-btn: rgba(255, 99, 71, .63);
$color-links: #ffc555;
$color-white: #fff;
$color-grey: #ccc;
// }}}

// Sizes
$size-xs: .8rem;
$size-s: 1.2rem;
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;
