@supports (display: grid) {
  .terminal {
    display: grid;
    grid-template-rows: 5.6rem 1fr;
    grid-column-gap: 1vmax;
  }
  .controls {
    align-self: center;
  }
  form {
    display: grid;
    grid-template-columns: $size-m 7fr repeat(2, minmax($size-l * 2, 1fr));
    grid-column-gap: 1vmax;
    grid-template-areas:
      "label input btn-run btn-clear";
  }
  label {
    grid-area: label;
    padding-right: 0;
  }
  form input {
    grid-area: input;
  }
  form button {
    margin-left: 0;
  }
  #run {
    grid-area: btn-run;
  }
  #clear {
    grid-area: btn-clear;
  }
  @media (max-width: 420px) {
    form {
      grid-template-columns: 4fr 1fr;
      grid-template-areas:
        "input btn-run";
    }
  }
}
